{% extends 'table_ind.html' %}
{% load static %}
{% load humanize %}
{% load myfilters %}

{% block titu_tabla %}

<br>
<div class="text-center">
  <div class="col-md-12">
    <h1>{{materia.materia_nom}}</h1>
    <h1 class="text-muted" >{{materia.tipo_mate}}</h1>
    <h1 class="text-muted" > Sección: {{materia.seccion.seccion_num }}</h1>
    <h1 class="text-muted" >Cortes evaluados</h1>
    
  </div>

</div>
{% endblock %}


{% block table1 %}

<section class="content">

  <div class="buttonBlockDiv">

  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->

          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Estudiante</th>
                  {% comment %}
                  {% for eval in evaluaciones_q %}
                  <th> {{forloop.counter }} </th>
                  {% endfor %}
                  {% endcomment %}
                  <th> Evaluaciones </th>
                  <th> promedio <br> (20) </th>
                  <th> suma <br> total <br> (100) </th>
                  <th> % Asistencia </th>
                  

                </tr>
              </thead>
              <tbody>
                {% for estudiante in users1 %}
                <tr>
                  <td>
                    <b class="text-left">{{estudiante.datos1.nombre}} {{estudiante.datos1.apellido}}  </b>
                    <p class="text-muted text-left">{{estudiante.username | intcomma }} </p>
                  </td>
                  
                  
                  <td>
                  <table id="example2" class="table table-bordered table-striped">
                    <tbody class="col-5 test_table_inside">
                      {% with notasx=evals_estud_all|indexable:estudiante.pk %}
                      


                      {% for nota in notasx %}
                      
                      {% if not forloop.counter|divisibleby:"2" %}
                      <tr>
                      <td class="negritas">
                        <b> Eval {{forloop.counter}} </b>
                        <br>
                        <span>
                          {% if nota %}
                          {{nota}}
                          {% else %}
                          No cargada
                          {% endif %}
                        </span>
                      </td>
                      {% else %}
                      <td class="negritas">
                        <b> Eval {{forloop.counter}} </b>
                        <br>
                        <span>
                          {% if nota %}
                          {{nota}}
                          {% else %}
                          No cargada
                          {% endif %}
                        </span>
                      </td>
                      </tr>
                      {% endif %}


                      

                      {% empty %}
                      Sin planificación
                      {% endfor %}
                      {% endwith %}

                    </tbody>
                  </table>
                  </td>
                  <td>
                    {{ estudiante.notastotal20 }}
                  </td>
                  <td>
                    {{ estudiante.notas100 }}
                  </td>
                  {% comment %}
                  <br>
                  {% endcomment %}
                  <td>
                    {{ estudiante.asistencia }} % 
                  </td>
                </tr>

                {% endfor %}

                {% comment %}
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4</td>
                  <td>C</td>                  
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 5.0
                  </td>
                  <td>Win 95+</td>
                  <td>5</td>
                  <td>X</td>
                </tr>
                {% endcomment %}
              </tbody>
              <tfoot>
                {% comment %}
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                </tr>
                {% endcomment %}
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>





<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title text-center fnegr" id="text-mod1">Notificacion de f</h4>

          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' id="ProblemForm" dataP-url="" name="amxj">

            <fieldset class="">

              {% csrf_token %}

              {% for field in form1 %}

              {% csrf_token %}
              <div class="errores">
              </div>
              {% if forloop.counter == 1%}
              {{field|materiaF1:'form-control'}}

              {% endif %}
              {% if forloop.counter == 2%}
              {{field|addclass:'form-control'}}
              {% endif %}
              {% if forloop.counter == 3%}
              {{field|login3:''}} 
              {% endif %}
              <p></p>
              {% comment %}
              {% if field.help_text %}
              Aun no :v
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
              {% endcomment %}

              {% endfor %}
              {% comment %}
              <div class="col-md-6 unalin2">
                <button class="btn btn-lg btn-block" type="submit" id="enviof-1">Si</button>

              </div>
              <div class="col-md-6 unalin2">
                <button type="button" class="btn btn-lg btn-block" data-dismiss="modal">No</button>

              </div>
              {% endcomment %}
              <div class="botonModal">
                <button class="btn btn-lg btn-block" type="submit" id="enviof-1">Enviar</button>
              </div>
            </fieldset>
            <br>


          </form>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="container-modal">
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title text-center fnegr" id="text-mod2">Notificacion de f33</h4>

          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' id="ProblemForm2" dataP-url="" name="amxj">

            <fieldset class="">

              {% csrf_token %}
              <input id="id_cedula1" data-url="{% url 'verificiar_usuario' %}" type="number" name="cedula" placeholder="Cédula" class="form-control" required>
              <p>
                {% for field in form2 %}

                {% csrf_token %}
                <div class="errores">
                </div>
                {% if forloop.counter == 1%}
                {{field|datosAddF1:'form-control'}}

                {% endif %}
                {% if forloop.counter == 2%}
                {{field|datosAddF2:'form-control'}} 
                {% endif %}
                {% if forloop.counter == 3%}
                {{field|login3:''}} 
                {% endif %}
                
                {% comment %}
                {% if field.help_text %}
                Aun no :v
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endcomment %}
                <p> </p>

                {% endfor %}
                <div class="unalin2 col-sm-12"> 
                  <div class="materias_sty" >

                    {% for materia in users1 %}
                    {% comment %}
                    <input type="checkbox" value="{{materia.id}}" name="choices">
                    <span> {{materia.materia_nom}} </span>
                    {% endcomment %}




                    {% if forloop.counter|divisibleby:"2" %}
                    
                    <td>
                      <div class="icheck-primary d-inline materias_column" style="grid-row:{{forloop.counter|subC:1}}; ">
                        <input type="checkbox" value="{{materia.id}}" name="choices" id="checkboxPrimary{{forloop.counter}}">
                        <label for="checkboxPrimary{{forloop.counter}}">
                        </label>
                        <span> {{materia.materia_nom}} </span>
                      </div>
                    </td>

                    {% else %}

                    <td>
                      <div class="icheck-primary d-inline materias_column" style="grid-row:{{forloop.counter}}; ">
                        <input type="checkbox" value="{{materia.id}}" name="choices" id="checkboxPrimary{{forloop.counter}}">
                        <label for="checkboxPrimary{{forloop.counter}}">
                        </label>
                        <span> {{materia.materia_nom}} </span>
                      </div>
                    </td>
                    {% endif %}



                    {% endfor %} 
                  </div>

                </div>

                <p></p>
                

                {% comment %}
                <div class="col-md-6 unalin2">
                  <button class="btn btn-lg btn-block" type="submit" id="enviof-1">Si</button>

                </div>
                <div class="col-md-6 unalin2">
                  <button type="button" class="btn btn-lg btn-block" data-dismiss="modal">No</button>

                </div>
                {% endcomment %}
                <div class="botonModal" >
                  <button class="btn btn-lg btn-block" type="submit" id="submitFormB1">Enviar</button>
                </div>
                <div class="botonModal" >
                  <button class="btn btn-lg btn-block disabled" type="button" id="submitFormB2">Enviar</button>
                </div>
              </fieldset>
              <br>


            </form>
          </div>

        </div>
      </div>

    </div>
  </div>




  <div class="container-modal">
    <div class="modal fade" id="myModal3">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title text-center fnegr" id="text-mod3">Notificacion de f</h4>

            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <div class="modal-body" id="popupb">
            <form accept-charset="UTF-8" method='post' id="ProblemForm3" dataP-url="" name="amxj">

              <fieldset class="">

                {% csrf_token %}
                <input id="id_cedula2" data-url="{% url 'verificiar_usuario' %}" type="number" name="cedula" placeholder="Cédula" class="form-control" required>  
                <p></p>
                {% for field in form2 %}

                <div class="errores">
                </div>
                {% if forloop.counter == 1%}
                {{field|datosTeachAddF1:'form-control'}}

                {% endif %}
                {% if forloop.counter == 2%}

                {{field|datosTeachAddF2:'form-control'}} 
                {% endif %}
                {% if forloop.counter == 3%}
                {{field|login3:''}} 
                {% endif %}
                
                {% comment %}
                {% if field.help_text %}
                Aun no :v
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endcomment %}
                <p></p>

                {% endfor %}

                {% comment %}
                <div class="col-md-6 unalin2">
                  <button class="btn btn-lg btn-block" type="submit" id="enviof-1">Si</button>

                </div>
                <div class="col-md-6 unalin2">
                  <button type="button" class="btn btn-lg btn-block" data-dismiss="modal">No</button>

                </div>
                {% endcomment %}




                <div class="botonModal" >
                  <button class="btn btn-lg btn-block" type="submit" id="submitFormB3">Enviar</button>
                </div>
                <div class="botonModal" >
                  <button class="btn btn-lg btn-block disabled" type="button" id="submitFormB4">Enviar</button>
                </div>
              </fieldset>
              <br>


            </form>
          </div>

        </div>
      </div>

    </div>
  </div>








  {% endblock %}


{% block jsend2 %}

<script type="text/javascript">


  arrayDont = ['#myModal1']

  started1 = 0
  started2 = 0
  $('[data-toggle = "modal" ]').on("change keyup paste click", function(){

    data_target = $(this).attr('data-target');
    if (!(arrayDont.includes(data_target))) {


      if (data_target.indexOf('2') > -1) {
        userid = $("#id_cedula1");

        field1 = $("#name1");
        field2 = $("#lastname1");
        submit1 = $("#submitFormB1");
        submit2 = $("#submitFormB2");
        console.log('estudiante')
        if (started2 == 0) {
          check_if_chang(userid, field1 ,field2 ,submit1 ,submit2 )
          started2 = 1;
        }
      }
      else if (data_target.indexOf('3') > -1) {
        userid = $("#id_cedula2");

        field1 = $("#name2");
        field2 = $("#lastname2");
        submit1 = $("#submitFormB3");
        submit2 = $("#submitFormB4");
        if (started1 == 0) {
          check_if_chang(userid, field1 ,field2 ,submit1 ,submit2 )
          started1 = 1;
        }
        
        console.log('profesor')
      }
      console.log($(this).attr('data-target'))
      field1.css('display', 'none');
      field2.css('display', 'none');
      
      submit1.css('display', 'block');
      submit2.css('display', 'none');
    }
  });

  var username_old = '';
  
  function check_if_chang(userid, field1 ,field2 ,submit1 ,submit2 ) {
    $(userid).on("change keyup paste click", function(){

      url = userid.data('url');

      if ($(this)) {
        //var username = $(this).val();
        username = $(this).val();
      }
      if (username_old != username) {
        username_old = username;
        submit1.css('display', 'none');
        submit2.css('display', 'block');
      }
      //console.log(username.length);
      // minimous number of cedula username.length
      if (username) {
        if (username.length > 999999) {
          username = username.replace(new RegExp("[ ]+", "g"), "");
          
        }
      }
      if (username) {
        
        $.ajax({
          url: url,
          data: {
            'username': username
          },
          dataType: 'json',
          success: function (data) {
            if (data.usuario_tomado) {
                  //alert('usu existe');
                  console.log('usu existe');
                  field1.css('display', 'none');
                  field2.css('display', 'none');
                  field1.removeAttr('required');
                  field2.removeAttr('required');
                  submit1.css('display', 'block');
                  submit2.css('display', 'none');
                }
                else {
                  //alert('usu no existe');
                  console.log('usu no existe');
                  field1.css('display', 'block');
                  field2.css('display', 'block');
                  field1.attr('required', '');
                  field2.attr('required', '');
                  submit1.css('display', 'block');
                  submit2.css('display', 'none');
                }
              }
            });

      }
      else if (!username) {
        field1.css('display', 'none');
        field2.css('display', 'none');
        
        submit1.css('display', 'block');
        submit2.css('display', 'none');
        
        /*
        $("#id_username").removeClass("form-control-neg");
        $("#spaniconBRe").removeClass("form-control-neg");
        $("#id_username").removeClass("form-control-accept");
        $("#spaniconBRe").removeClass("form-control-accept");
        $("#spaniconBRe").css('display', 'none');
        $("#iconBRe").css('display', 'none');
        $("#iconBRe2").css('display', 'none');
        */
      }
      console.log('aactivated')
    });
  }
  
  //old


  /*
  $('[data-switch1]').on('click', function() {
    console.log('clicked!',$(this).data('switch1'))
    switching1 = $(this).data('switch1');
    if (switching1 == 0) {

    }
    else if (switching1 == 1) {


    }

  });
  */

  


  /*
  userid = $("#id_cedula1");
  url = userid.data('url');
  field1 = $("#name1");
  field2 = $("#lastname1");
  submit1 = $("#submitFormB1");
  submit2 = $("#submitFormB2");

  userid2 = $("#id_cedula2");
  url2 = userid.data('url');
  field3 = $("#name2");
  field4 = $("#lastname2");
  submit3 = $("#submitFormB3");
  submit4 = $("#submitFormB4");
  setTimeout(checkUser.bind(userid, url, field1, field2, submit1, submit2), 500);

  setTimeout(checkUser.bind(userid2, url2, field3, field4, submit3, submit4), 500);
  */
</script>
{% endblock %}
