{% extends 'index2.html' %}
{% load humanize %}
{% load myfilters %}





{% block title %} Login {% endblock %}

{% block content1 %}
{% comment %}
.bg-bubbles li {
	position: sticky;
}
basicamente, hay que cambiar las position del style
{% endcomment %}
<div class="container">
	<h1>Aldea Universitaria</h1>
	
<form class="form" method="post">
		{% for field in form %}

		{% csrf_token %}
		<div class="errores">
		</div>
		{% if forloop.counter == 1%}
	    {{field|login1v2:''}}

		{% endif %}
		{% if forloop.counter == 2%}
		{{field|login2:''}} 
		{% endif %}
		{% if forloop.counter == 3%}
		{{field|login3:''}} 
		{% endif %}
		<p></p>
		{% comment %}
		{% if field.help_text %}
		Aun no :v
		<p class="help">{{ field.help_text|safe }}</p>
		{% endif %}
		{% endcomment %}


		{% endfor %}
		{% for field in form2 %}

		{% csrf_token %}
		<div class="errores">
		</div>
		{% if forloop.counter == 1%}

		{% if residencia1 %}
		{{field|datosF3:''}}    
	    {% else %}
		{{field|datosF1:''}}
	    {% endif %}

		{% endif %}
		{% if forloop.counter == 2%}
		{{field|datosF2:''}} 
		{% endif %}
		{% if forloop.counter == 3%}
		{{field|datosF3:''}} 
		{% endif %}
		<p></p>
		{% comment %}
		{% if field.help_text %}
		Aun no :v
		<p class="help">{{ field.help_text|safe }}</p>
		{% endif %}
		{% endcomment %}


		{% endfor %}


		
		{% comment %}
		<input list="cod_area2" placeholder="Nombre del área" name="cod_area" required id="id_cod_area" class="">


		<datalist id="cod_area2">

		  <option value="hola k aze">

		  </option>
		</datalist>
		{% endcomment %}
		<button type="submit" id="login-button">Registrarse</button>

	</form>
	<h5 class="credits"> <a href="#">Créditos</a> </h5>
</div>
{% endblock %}