{% extends 'index.html' %}
{% load static %}
{% load humanize %}

{% block cssend %}
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<br>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12 text-center">
        <h1>Aceptación de usuarios</h1>
      </div>
      {% comment %}
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">DataTables</li>
        </ol>
      </div>
      {% endcomment %}
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nº</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Cédula</th>
                  <th>Aprobar</th>

                </tr>
              </thead>
              <tbody>
                {% for users in users1 %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{users.datos1.nombre}} </td>
                  <td>{{users.datos1.apellido }}</td>
                  <td>{{users.username |intcomma}}</td>
                  
                  <td>
                    <a data-toggle="modal" data-target="#myModal1" data-id="" data-href="{% url 'usu_accepted1' users.pk %}" data-nombre="{{users.datos1.nombre}} {{users.username |intcomma}}" data-tipo="Aprobación"><span class="btn btn-primary" ><i class="fa fa-check" id="iconB" style="color:rgba(0, 255, 0,0.95);">  </i> Si</span></a>

                    <a data-toggle="modal" data-target="#myModal1" data-id="" data-href="{% url 'usu_deleted1' users.pk %}" data-nombre="{{users.datos1.nombre}} {{users.username |intcomma}}" data-tipo="eliminacion"><span class="btn btn-primary"><i class="fa fa-times" id="iconB" style="color:rgba(255, 0, 0,0.95);"></i>  No </span></a>
                  </td>
                </tr>

                {% endfor %}

                {% comment %}
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4</td>
                  <td>C</td>                  
                </tr>
                <tr>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 5.0
                  </td>
                  <td>Win 95+</td>
                  <td>5</td>
                  <td>X</td>
                </tr>
                {% endcomment %}
              </tbody>
              <tfoot>
                {% comment %}
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                </tr>
                {% endcomment %}
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>





<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title text-center fnegr" id="text-mod1">Notificacion de f</h4>

          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' id="ProblemForm" dataP-url="" name="amxj">

            <fieldset class="unalin">

              {% csrf_token %}


              <div class="col-md-6 unalin2">
                <button class="btn btn-lg btn-block" type="submit" id="enviof-1">Si</button>

              </div>
              <div class="col-md-6 unalin2">
                <button type="button" class="btn btn-lg btn-block" data-dismiss="modal">No</button>

              </div>



            </fieldset>
            <br>


          </form>
        </div>

      </div>
    </div>

  </div>
</div>








{% endblock %}


{% block jsend %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>

<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });

  $(function () {

    var wa1 = $('#example1_info');

    console.log($("#example1_filter label").text());
    //$("#example1_filter label").innerHTML('hola');
    //console.log(document.getElementById('example1_filter').childNodes[0].childNodes[0].nodeValue="Buscar: ");

    document.getElementById('example1_filter').childNodes[0].childNodes[0].nodeValue="Buscar: "
    document.getElementById('example1_length').childNodes[0].childNodes[0].nodeValue="Mostrar: "
    document.getElementById('example1_length').childNodes[0].childNodes[2].nodeValue=" Resultados "

    function checkChanged() {
      let wa4 = $('#example1 .odd');
      let wa2 = $('#example1_previous');
      let wa3 = $('#example1_next');
      wa1.html(wa1.html().replace(' to ',' - '));
      wa1.html(wa1.html().replace('Showing','Mostrando'));
      wa1.html(wa1.html().replace(' of ',' de '));
      wa1.html(wa1.html().replace('entries','entradas'));
      wa1.html(wa1.html().replace('filtered from','filtradas de'));
      wa1.html(wa1.html().replace(' total ',' totales '));
      wa1.html(wa1.html().replace(' totales entradas',' entradas totales'));


      wa2.html(wa2.html().replace('Previous','Anterior'));
      wa3.html(wa3.html().replace('Next','Siguiente'));
      if (wa4.text().indexOf('No matching records found') != -1) {
        wa4.html(wa4.html().replace('No matching records found','No hay resultados encontrados'));
      }
      setTimeout(checkChanged, 0.3);
    }
    setTimeout(checkChanged, 0.3);

    //wa1.replace('Search:' g,'hola');
  });
</script>
{% endblock %}